@import '../../styles/variables/mixin';

.button {
  font-family: $monserrat-light;
  border-radius: 4rem;
}

.homeButton {
  @include flex_center_center;
  font-family: $monserrat;
  border-radius: 4rem;
  height: 5rem;
  width: 16rem;
  border-radius: 4rem;
  margin-right: 2rem;
  padding-bottom: 0.1rem;
  font-size: 1.7rem;

  @media (max-width: $laptop1440) {
    height: 4rem;
    width: 13rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 2rem;
  }
}

.homeWhite {
  @extend .homeButton;
  color: $main-orange;
  border: 1px solid $main-orange;
}

.homeOrange {
  @extend .homeButton;
  background-color: $main-orange;
  color: $main-white;
}

.homeBlue {
  @extend .homeButton;
  background-color: $home-blue;
  color: $main-white;
}

.sumate {
  @extend .button;
  width: 18rem;
  height: 4.5rem;
  background-color: $main-orange;
  color: $main-white;
  font-size: 1.8rem;
}

.nav-button {
  @extend .button;
  @include flex_center_center;
  font-size: 1.3rem;
  font-weight: 200;
  width: 12rem;
  height: 4rem;
}

.nav-white {
  @extend .nav-button;
  background-color: $main-white;
  color: $main-orange;
  margin-right: 3rem;
  border: 1px solid $main-orange;
  padding-bottom: 0.2rem;
}

.nav-orange {
  @extend .nav-button;
  background-color: $main-orange;
  color: $main-white;
  padding-bottom: 0.2rem;
}
