@import '../../styles/variables/variables';

.recruiters {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $main-orange;
    font-family: $neo-sans;
    font-size: 3.3rem;
    line-height: 1.2rem;
    font-weight: 700;
    padding-top: 0.3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    padding-top: 0.1rem;
    font-family: $neo-sans-light;
    font-weight: bold;
    padding-left: 0.6rem;
    color: $main-black;
    text-transform: uppercase;
  }
}

.recruitersWhite {
  @extend .recruiters;
  h2 {
    color: $main-white;
  }

  h3 {
    color: $main-white;
  }
}
