@import '../../../styles/variables/mixin';
@import '../../../styles/variables/functions';

.form {
  display: grid;
  grid-template-columns: 30% 70%;

  @media (max-width: $ipad) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainDiv {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;

    & > div:nth-child(3) {
      position: relative;
      left: 3rem;
      bottom: 2rem;
      top: 7.5rem;
    }
    @media (max-width: $ipad) {
      display: none;
    }
  }

  & > div:nth-child(2) {
    @include setVerticalPadding(18.1rem, 18.1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $main-light-blue;
    padding-top: 17.2rem;
    min-height: 98.5rem;

    @media (max-width: $laptop1440) {
      padding-top: 8.2rem;
      @include setVerticalPadding(18rem, 8rem);
    }

    @media (max-width: $ipad) {
      @include setVerticalPadding(5rem, 5rem);
      padding-top: 5rem;
      height: 120vh;
      width: 100%;
    }

    & > div {
      @apply w-full;
    }

    svg {
      font-size: 2.5rem;
      cursor: pointer;
      color: $main-white;
    }

    h2 {
      font-size: 6.5rem;
      line-height: 7.5rem;
      font-family: $neo-sans;
      color: $main-white;

      @media (max-width: $laptop1440) {
        font-size: 4.5rem;
        line-height: 5.5rem;
      }

      @media (max-width: $ipad) {
        font-size: 3.5rem;
        line-height: 4.5rem;
        text-align: center;
      }
    }

    h5 {
      font-size: 2.3rem;
      margin-top: 1.5rem;
      color: $main-white;
      font-family: $monserrat-light;
      margin-bottom: 7.5rem;

      @media (max-width: $ipad) {
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    & > form {
      @apply w-full;

      & > div:first-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: $ipad) {
          grid-template-columns: repeat(1, 1fr);
          width: 100%;
          height: 74rem;
        }
      }

      & > div:last-of-type {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        padding-right: 2rem;
        margin-top: 3rem;
        padding-top: 2rem;
      }

      @media (max-width: $ipad) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-bottom: 3rem;
      }

      & div:last-of-type {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        margin-top: 0.5 rem;

        @media (max-width: $ipad) {
          justify-content: center;
        }

        button {
          height: 5rem;
        }
      }
    }
  }
}
