@import '../../../styles/variables/mixin';
@import '../../../styles/variables/functions';

.form {
  display: grid;
  grid-template-columns: 30% 70%;

  @media (max-width: $ipad) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > div:first-of-type {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
    @media (max-width: $ipad) {
      display: none;
    }
  }

  .orangeModal {
    background-color: $main-orange;
    height: 34.1rem;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-white;

    & > :first-child {
      font-size: 5rem;
      text-align: center;
      line-height: 5.5rem;
      font-family: $neo-sans-light;

      @media (max-width: $desktop1680) {
        font-size: 4rem;
        text-align: center;
        line-height: 4.5rem;
      }

      span {
        font-family: $neo-sans;
      }
    }
  }

  .blueGreen {
    height: 2.5rem;
    width: 50%;
    position: relative;
    left: 14.5rem;
    background-color: #3baca8;

    @media (max-width: $desktop1680) {
      left: 12.6rem;
    }

    @media (max-width: $desktop1680) {
      left: 10.8rem;
    }
  }

  & > div:nth-child(2) {
    @include setVerticalPadding(18.1rem, 18.1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $main-light-blue;
    padding-top: 17.2rem;
    height: 100vh;

    @media (max-width: $laptop1440) {
      padding-top: 8.2rem;
      @include setVerticalPadding(18rem, 8rem);
    }

    @media (max-width: $ipad) {
      @include setVerticalPadding(5rem, 5rem);
      padding-top: 5rem;
      height: 152vh;
      width: 100%;
    }

    & > div {
      @apply w-full;
    }

    h2 {
      font-size: 6.5rem;
      line-height: 7.5rem;
      font-family: $neo-sans;
      color: $main-white;

      @media (max-width: $laptop1440) {
        font-size: 4.5rem;
        line-height: 5.5rem;
      }

      @media (max-width: $ipad) {
        font-size: 3.5rem;
        line-height: 4.5rem;
        text-align: center;
      }
    }

    h5 {
      font-size: 2.3rem;
      margin-top: 1.5rem;
      color: $main-white;
      font-family: $monserrat-light;
      margin-bottom: 7.5rem;

      @media (max-width: $ipad) {
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    & > form {
      @apply w-full;

      & > div {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: $ipad) {
          grid-template-columns: repeat(1, 1fr);
          width: 100%;

          & div:last-of-type {
            display: flex;
            justify-content: flex-end;
            margin-right: 3rem;
            margin-top: 0.5 rem;

            @media (max-width: $ipad) {
              justify-content: center;
            }

            button {
              height: 5rem;
            }
          }
        }
      }
    }
  }
}
