@import '../styles/variables/mixin';
@import '../styles/variables/_variables';

.navigation {
  @apply grid;
  @apply w-full;
  @apply content-center;
  width: 100%;
  height: 11.7rem;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #cecece;
  padding-left: 2.5rem;

  & > h3 {
    @include flex_center_center;
  }

  & > div {
    @include flex_center_center;
  }

  .navigationConvert {
    a {
      border: 3px solid $secondary-light-blue;
      border-radius: 3rem;
      width: 25rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $monserrat;
      color: $main-black;
      letter-spacing: 0.1rem;
      cursor: pointer;
      font-size: 1.7rem;
    }
  }
}

.recruiterNavigation {
  @extend .navigation;
  padding-left: 0rem;

  & > div:first-of-type {
    /* UI Properties */
    border: none;
  }

  & > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 880px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
  }
  @media (max-width: 550px) {
    flex-direction: column;
    height: 12rem;
  }

  & > svg {
    font-size: 4rem;
    cursor: pointer;
    color: $main-orange;
  }
}
