@import '../../styles/variables/_mixin';
@import '../../styles/variables/variables';

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;

  @media (max-width: $ipad) {
    grid-template-columns: repeat(1, 100%);
  }

  & > div:first-of-type {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    @media (max-width: $ipad) {
      display: none;
    }
    & > div:first-of-type {
      position: relative;
      z-index: 5;
      top: 14rem;
      left: 4rem;

      @media (max-width: $laptop1440) {
        width: 13rem;
      }

      @media (max-width: $ipad) {
        top: 14rem;
        right: 4rem;
      }
    }
    & > div:nth-child(2) {
      position: relative;
      top: 10rem;
      right: 4rem;

      @media (max-width: $laptop1440) {
        width: 13rem;
        top: 12rem;
        right: 0rem;
      }

      @media (max-width: $ipad) {
        width: 14rem;
        top: 8rem;
        right: 12rem;
      }
    }

    & > div:nth-child(3) {
      position: relative;
      bottom: 14rem;
      left: 20rem;

      @media (max-width: $laptop1440) {
        bottom: 7rem;
      }
    }
  }
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;

    @media (max-width: $mobile) {
      margin-top: 5rem;
    }

    & > div:first-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8rem;

      @media (max-width: $mobile) {
        margin-bottom: 4rem;
      }
    }

    & > div:nth-child(2) {
      h2 {
        @include h2MainHeader;
        font-size: 6.2rem;
        line-height: 7rem;
        letter-spacing: 0.3rem;

        @media (max-width: $laptop1440) {
          font-size: 4.5rem;
          line-height: 5.2rem;
        }

        @media (max-width: $mobile) {
          text-align: center;
          font-size: 3.5rem;
          line-height: 4.2rem;
        }
      }

      p {
        @include pMainSubHeader;
        padding-top: 1.8rem;
        font-family: $neo-sans;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.8rem;
        letter-spacing: 0.2rem;
        color: $main-light-blue;

        @media (max-width: $laptop1440) {
          font-size: 2rem;
          line-height: 2.8rem;
        }

        @media (max-width: $mobile) {
          text-align: center;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }

    & > div:nth-child(3) {
      display: flex;
      margin-left: 2rem;
      align-items: center;
      margin-top: 7rem;

      @media (max-width: $mobile) {
        flex-direction: column;
        margin-top: 3rem;
      }
    }
  }
}
