@import '../../styles/variables/variables';
@import '../../styles/variables/mixin';

.banner {
  @apply grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
  height: 87rem;
  margin-top: 8rem;

  @media screen and (max-width: $ipad) {
    align-items: center;
  }

  @media (max-width: $mobile) {
    margin-top: 0rem;
    grid-template-columns: 100% !important;
  }

  & > div:first-of-type {
    height: 80vh;
    padding-left: 22.2rem;
    margin-top: 8rem;
    @media screen and (max-width: $laptop1440) {
      padding-left: 18rem;
    }

    @media (max-width: $mobile) {
      width: 100wh;
      display: flex;
      align-items: center;
      padding-left: 0rem;
      margin-top: 2rem;
      justify-content: center;
      flex-direction: column;
    }

    .bannerHeader {
      margin-top: 2.2rem;
      margin-left: -0.8rem;
      margin-bottom: 1rem;
      & > h2 {
        font-weight: 700;
        font-family: $neo-sans;
        line-height: 8rem;
        font-size: 7rem;
        color: $main-orange;

        @media screen and (max-width: $laptop1440) {
          font-size: 5rem;
          line-height: 6rem;
        }

        @media screen and (max-width: $ipad) {
          font-size: 4rem;
          line-height: 5rem;
        }

        @media screen and (max-width: $mobile) {
          text-align: center;
        }
      }
    }

    .button {
      font-family: $monserrat-light;
      border-radius: 4rem;
    }
    .sumate {
      @extend .button;
      width: 18rem;
      height: 4.5rem;
      background-color: $main-orange;
      color: $main-white;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 1rem 1.8rem;

      @media (min-width: $ipad) {
        width: 14rem;
        height: 3.8rem;
        font-size: 1.5rem;
        font-weight: lighter;
      }
    }

    & > p {
      font-weight: 700;
      color: $main-black;
      font-family: $monserrat-light;
      font-size: 2.4rem;
      line-height: 3rem;
      height: 8rem;

      @media screen and (max-width: $desktop1680) {
        height: 10rem;
      }

      @media screen and (max-width: $laptop1440) {
        font-size: 1.8rem;
        height: 6rem;
        line-height: 2.4rem;
      }

      @media screen and (max-width: $ipad) {
        font-size: 1.3rem;
        line-height: 2rem;
        height: 5rem;
        font-size: 1.2rem;
      }

      @media screen and (max-width: $mobile) {
        text-align: center;
        height: 6rem;
      }
    }

    & > button {
      margin-top: 3.5rem;
    }
  }

  & > div:nth-child(2) {
    margin-left: 9rem;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  @media (max-width: 1440px) {
    @apply grid;
    width: 100%;
    height: 70rem;
    grid-template-columns: repeat(2, 50%);
  }
}
