@import '../../styles/variables/variables';
@import '../../styles/variables/mixin';

.services {
  background-image: url('../../public/wave.png');
  height: 116rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 55%);
  background-repeat: no-repeat;
  overflow: hidden;

  @media screen and (max-width: $laptop1440) {
    background-size: 100%;
    height: 85.5rem;
    grid-template-columns: repeat(2, 50%);
  }

  & > div:first-of-type {
    display: flex;
    margin-top: 33rem;
    align-items: center;
    justify-content: center;
    & > h2 {
      color: $main-white;
      font-family: $neo-sans;
      font-size: 4.2rem;
      letter-spacing: 0.1rem;
      line-height: 5.2rem;
      width: 76.6rem;
      font-weight: 700;
      height: 31.7rem;
      padding-left: 14rem;
    }
  }

  .rightDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24rem;

    @media screen and (max-width: $laptop1440) {
      margin-top: 6rem;
      margin-left: 1rem;
    }

    & > div:first-of-type {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      width: 85%;
      margin-top: 4rem;
    }

    & > div:nth-child(2) {
      width: 85%;
      margin-top: 1.5rem;

      & > div {
        margin-left: 20rem;
      }
    }

    & > div:nth-child(3) {
      width: 85%;
      margin-top: 1.5rem;
      & > div {
        margin-left: 40rem;
      }
    }
  }
}

.bottomWave {
  height: 23.4rem;
  margin-top: -0.1rem;
  background-image: url('../../public/Rectangle 4.png');
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    color: $main-white;
    font-size: 7rem;
    font-weight: 700;
    font-family: $neo-sans;
    text-transform: uppercase;
    position: relative;
    top: 6rem;
    letter-spacing: 0.3rem;

    @media screen and (max-width: $laptop1440) {
      top: 3rem;
    }
  }

  @media screen and (max-width: $laptop1440) {
    background-size: 100%;
    height: 17.3rem;
  }
}
