@import './_variables';

@mixin flex_center_center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

// Container

@mixin PageContainer {
  margin-top: 4rem;
  display: grid;
  min-height: 50rem;
  overflow: hidden;
  grid-template-columns: repeat(2, 55%);

  & > div:first-of-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 22rem;
    margin-top: 15rem;
  }
}

// Headers y SubHeaders
@mixin h2MainHeader {
  font-weight: 700;
  font-family: $neo-sans;
  line-height: 8rem;
  font-size: 7rem;
  color: $main-orange;

  @media screen and (max-width: 1442px) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

@mixin pMainSubHeader {
  font-weight: 700;
  color: $main-black;
  font-family: $monserrat-light;
  font-size: 2.4rem;
  line-height: 3rem;

  @media screen and (max-width: $laptop1440) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@mixin h2Header {
  font-weight: 700;
  font-family: $neo-sans;
  line-height: 5.5rem;
  font-size: 4.5rem;
  color: $main-orange;
  width: 100%;

  @media screen and (max-width: 1442px) {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}

@mixin pSubHeader {
  font-weight: 700;
  width: 100%;
  padding-top: 2rem;
  color: $main-black;
  font-family: $monserrat-light;
  font-size: 1.8rem;
  line-height: 3rem;

  @media screen and (max-width: $laptop1440) {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
