// BreakPoints

$desktop1680: 1680px;
$laptop1440: 1440px;

// Colors

$main-orange: #ed653a;

// Blue
$main-light-blue: #90d1e2;
$secondary-light-blue: #a2d9e7;
$home-blue: #2ab6db;

$main-white: #ffffff;

// Black
$main-black: #4b4b4b;
$secondary-black: #333333;

// Font-Family

$neo-sans: 'Neo-Sans-std';
$monserrat: 'Montserrat', sans-serif;
$monserrat-bold: 'Monserrat-bold';
$monserrat-light: 'Monserrat-light';
