@import '../variables/variables';

.header {
  @include h2Header;
}

.subHeader {
  @include pSubHeader;
}

.socialLink {
  & svg {
    width: 3.6rem;
    height: 2.9rem;
    color: $main-black;
    font-weight: 200;
    margin-right: 2.5rem;
    cursor: pointer;
  }
}

.socialLinkWhite {
  @extend .socialLink;
  & svg {
    color: $main-white;
  }
}

.logo {
  cursor: pointer;
}

.formikForm {
  height: 30rem;
  width: 100%;
  margin-bottom: 4rem;
}

.formDiv {
  display: flex;
  height: 9rem;
  align-items: center;
  flex-direction: column;

  @media (max-width: $ipad) {
    margin-bottom: 0;
  }
  .inputs:focus {
    border: 0.15rem solid lighten($color: $main-orange, $amount: 15%);
  }

  & > .formInputs {
    @extend .inputs;
    height: 5.5rem;
    width: 94%;
    border-radius: 4rem;
    outline: none;
    font-size: 1.5rem;
    padding-left: 3rem;

    @media (max-width: $ipad) {
      height: 4.5rem;
      padding-left: 3rem;
      width: 60%;
    }

    @media (max-width: 550px) {
      height: 4.5rem;
      padding-left: 3rem;
      width: 80%;
    }
  }

  .formInputs::placeholder {
    color: $main-black;
    font-weight: bold;
    font-family: $monserrat-light;
  }

  & > .formInputsSelect {
    @extend .inputs;
    width: 94%;
    height: 5.5rem;
    border-radius: 4rem;
    appearance: none;
    outline: none;
    padding-left: 3rem;
    background-color: white;
    font-size: 1.5rem;
    color: $main-black;
    font-weight: bold;
    font-family: $monserrat-light;
    cursor: pointer;

    @media (max-width: $ipad) {
      height: 4.5rem;
      padding-left: 3rem;
      width: 60%;
    }

    @media (max-width: 550px) {
      height: 4.5rem;
      padding-left: 3rem;
      width: 80%;
    }
  }

  .arrow {
    color: $main-orange;
    position: relative;
    right: 4rem;
    bottom: 0.2rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: inline;
  }

  .errorMsg {
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: red;

    @media (max-width: $laptop1440) {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}

.formDivInput {
  @extend .formDiv;
  & > div {
    background-color: green;
  }
}
.footer-newsletter {
  & > div:first-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .footerNews {
      @extend .inputs;
      width: 29rem;
      height: 4.4rem;
      border-radius: 4rem;
      padding-left: 3rem;
      appearance: none;
      outline: none;
      background-color: white;
      font-size: 1.3rem;
      color: $main-black;
      font-weight: bold;
      font-family: $monserrat-light;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    @media (max-width: 650px) {
      padding-left: 4rem;
    }

    svg {
      position: relative;
      right: 6rem;
      font-size: 4rem;
      color: $main-orange;
    }
  }
}

.labelClass {
  @extend .formInputs;
}

input[type='file'] {
  display: none;
}
