@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

@font-face {
  font-family: 'Neo-Sans-std';
  src: url('./fonts/NeoSansStd-Medium.otf');
}

@font-face {
  font-family: 'Neo-Sans-std-light';
  src: url('./fonts/neo-sans-std-light.otf');
}

@font-face {
  font-family: 'Monserrat-light';
  src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Monserrat-bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

@import './variables/index';
@import './globals';
@import './base/base.scss';
@import './reset';
@import './components/components.scss';
